BASEURL="/"
THEMOVIEDB_API_KEY=abcdefghijklmnopqrstuvwxyz
OMBI_API_KEY=abcdefghijklmnopqrstuvwxyz
OMBI_SERVER_HOST=https://myspecialserver.com/ombi
TELEGRAM_BOT_TOKEN=kajshdklajshdlkjashdklj
TELEGRAM_CHAT_ID=123456789